/* this is a basic CSS stylesheet */

body {
	margin: 50px 100px;
	color: #000;
	background: #fc6;
	font-family: Verdana, sans-serif;
	font-size: 100%;
}

h1 {
	margin: 0;
	font-family: Cambria, serif;
	font-size: 3em;
	font-weight: normal;
	line-height: 1.5em
}

p {
	font-size: 1.2em;
}

/* below: styles for A and LINK colors */

a:focus{
	outline: 2px solid #069;
}

a:link, a:visited, a:active {
	color: #069;
	text-decoration: underline;
}

a:hover {
	color: #fff;
	background: #069;
	text-decoration: none;
}
